* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* início adaptações */

@media(max-width: 700px){
    html{
        font-size: 14px;
    }
   }

/* Fim adaptações */

html {
    height: 100%;
    width: 100%;
    font-size: 15px;
    background-color: #fafafa;
    color: #555;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

h2, h3, h4, h5, h6, p, ul, li, span {
    font-family: 'Roboto', sans-serif;
}

.top {
    width: 80%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo img {
    width: 300px;
    height: 77px;
}

.resumo {
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.bloco1 {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.bloco2 {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 1rem;
}

.principal {
    width: 80%;
    max-height: 35rem;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.h2-principal {
    padding-bottom: 1.1rem;
}

.area-text {
    height: 23rem;
    width: 100%;
    border: 0.15rem solid rgba(000, 000, 000, 0.7);
    border-radius: 0.5rem;
    background-color: transparent;
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    transition: 300ms;
}

.area-text:active {
    border: 0.15rem solid;
    border-color: teal;
    background-color: #d1eefa96;
    outline: none;
    transition: 300ms;
}

.area-text:focus {
    border: 0.15rem solid;
    border-color: teal;
    background-color: #d1eefa96;
    outline: none;
    transition: 300ms;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.show-result {
    margin-top: 0.5rem;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: left;
    text-align: center;
}

.show-result h3 {
    padding-top: 0.4rem;
    vertical-align: middle;
}

.resultado {
    font-size: 1.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
    vertical-align: middle;
}

.enjoy {
    width: 80%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2rem;
    text-align: left;
    align-items: center;
    display: block;
}

.enjoy h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.enjoy a {
    text-decoration: none;
    color: inherit;
    transition: 150ms;
    margin-right: 0.7rem;
    font-weight: 600;
}

.enjoy a:hover {
    color: teal;
    transition: 150ms;
    font-weight: 600;
}

.footer {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #ebebeb;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2);
}

.sobre-box {
    height: auto;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    display: grid;
}

.autor {
    margin-bottom: 0.5rem;
}

.autor a {
    text-decoration: none;
    color: inherit;
    transition: 150ms;
}

.autor a:hover {
    color: teal;
    transition: 150ms;
}

.contato {
    text-align: left;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
}

.contato p{
    text-align: left;
    vertical-align: 0.5rem;
    display: inline-flex;
}

.contato a {
    text-decoration: none;
    color: inherit;
    transition: 150ms;
    margin-right: 0.7rem;
}

.contato a:hover {
    color: teal;
    transition: 150ms;
}

.img-linkedin {
    width: 1.7rem;
    margin-right: 0.7rem;
}

.img-github {
    width: 1.7rem;
    margin-right: 0.7rem;
}